* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    /*background-color: #7F669D;*/
    /*border-bottom: 5px solid #7F669D;*/
    color: #FBFACD;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #181712;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #FBFACD;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #FBFACD;
    border-radius: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    box-shadow: inset 0 -2px #FBFACD;
    border-radius: 2px;
}

#workspaces button.urgent {
    background-color: #a11021;
    color: #FBFACD
}

#custom-themes button:hover {
    background-color: #AF7AB3;
    min-width: 100px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-themes,
#custom-wallpapers,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#workspaces {
    background-color: #7F669D;
    padding: 5px 10px;
    color: #FBFACD;
    border-radius: 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#window {
    background-color: transparent;
    padding: 5px 10px;
    color: #80558C; /* #c5a5c5 */
    border-radius: 5px;
    font-weight: bold;
}

#mode {
    background-color: #BA94D1;
    border-bottom: 3px solid #FBFACD;
}

#clock {
    color: #FBFACD;
}

#battery {
    color: #FBFACD;
}

#battery.charging,
#battery.plugged {
    color: #FBFACD;
    background-color: #BA94D1;
}

@keyframes blink {
    to {
        background-color: #FBFACD;
        color: #181712;
    }
}

#battery.critical:not(.charging) {
    background-color: #DEBACE;
    color: #181712;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #181712;
}

#cpu {
    color: #FBFACD;
}

#network {
}

#network.disconnected {
    background-color: #BA94D1;
}

#pulseaudio {
    color: #FBFACD;
}

#pulseaudio.muted {
    background-color: #BA94D1;
    color: #FBFACD;
}

#custom-media {
    background-color: #AF7AB3;
    color: #FBFACD;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #DEBACE;
}

#idle_inhibitor {
    color: #FBFACD;
}

#idle_inhibitor.activated {
    background-color: #BA94D1;
}

#scratchpad.empty {
    background-color: transparent;
}
