@define-color darkblue #362b87;
@define-color lightblue #3f74b8;
@define-color white #faf6f3;
@define-color yellow #fedc61;
@define-color red #a11021;
@define-color purple #4e267f;
 
@define-color dark #181712;
@define-color modbg transparent;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(7.8, 7.5, 5.5, 0.95);
    color: #a4caee;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: @dark;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @white;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @white;
    border-radius: 2px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    box-shadow: inset 0 -2px @white;
    border-radius: 0px;
}

#workspaces button.urgent {
    background-color: @red;
    color: @white
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-themes,
#custom-wallpapers,
#tray,
#mode,
#idle_inhibitor,
#scratchpad {
    padding: 0 10px;
    color: @white;
}

#custom-spr0 {   
    background: linear-gradient(105deg, @darkblue 50%, @lightblue 50%);
}

#custom-spr1 {   
    background: linear-gradient(105deg, @lightblue 50%, @purple 50%);
}

#custom-spr2 {   
    background: linear-gradient(105deg, @purple 50%, @darkblue 50%);
}

#custom-spr3 {   
    background: linear-gradient(105deg, transparent 50%, @dark 50%);
}

#idle_inhibitor {   
    background: linear-gradient(105deg, @dark 15%, transparent 15%, transparent 60%, @darkblue 60%);
}

#idle_inhibitor {
    background-color: @dark;
}

#idle_inhibitor.activated {
    background-color: @purple;
}

#mode {
    background-color: @yellow;
    color: @dark;
    border-bottom: 3px solid @white;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
    font-weight: bold;
}

#clock {
    background-color: @darkblue;
    color: @white;
}

#battery {
    background-color: @lightblue;
    color: @white;
}

#battery.charging, #battery.plugged {
    color: @white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: @white;
        color: @dark;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @dark;
}

#cpu {
    background-color: @darkblue;
    color: @white;
}

#memory {
    background-color: @lightblue;
    color: @white;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: @yellow;
    color: @dark;
}

#network {
    background-color: @purple;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    background-color: @dark;
    color: @white;
}

#pulseaudio.muted {
    background-color: @darkblue;
    color: @white;
}

#custom-themes {
    background-color: @dark;
    color: @white;
}

#custom-media {
    background-color: @white;
    color: @dark;
    min-width: 100px;
    border-radius: 5px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @purple;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @purple;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
