@theme "jazz"

* {
    bg-col:  #000000;
    bg-col-light: #000000;
    border-col: #000000;
    selected-col: #000000;
    blue: #931523;
    fg-col: #A25B64;
    fg-col2: @blue;
    grey: @fg-col;
}

entry {
    text-color: @fg-col2;
}
