@theme "launchpad-custom"

* {
    bg0:  #f5f5f599; /* window and prompt bg color */
    bg1:  #eeeeee; /* entry bg color */
    bg2:  #eeeeee20; /* inputbar bg color */
    bg3:  #eeeeee40; /* entry border color */
    bg4:  #eeeeee; /* element selected bg color */
    fg0:  #555555; /* * text-color */
}

prompt {
  background-color: @bg1;
}

entry {
  placeholder-color: #999999;
}

listview {
  margin:   38px calc( 50% - 560px );
  spacing:  38px;
}