@theme "launchpad-custom"

* {
  text-color: #1e1e2e;
}

mainbox {
    background-image: linear-gradient(rgba(238,174,202,1), rgba(148,187,233,1));
}

prompt {
    background-color: #89b4fa;
}

entry {
    background-color: transparent;
}

listview {
  margin:   38px calc( 50% - 560px );
  spacing:  38px;
}

element selected {
    background-image: linear-gradient(rgba(148,226,213,1), rgba(249,226,175,1));
    text-color: #f38ba8  ;
}