@theme "launchpad-custom"

* {
    bg0:  #003aff; /* window and prompt bg color */
    bg1:  #4e7fff; /* entry bg color */
    bg2:  #0022ad; /* inputbar bg color */
    bg3:  #001a84; /* entry border color */
    bg4:  #4e7fff; /* element selected bg color */
    fg0:  #f5f5f5; /* * text-color */
}

inputbar, prompt, entry, element {
  border-radius: 0px;
}

prompt {
  background-color: @bg3;
  text-color: #3462ff;
}

listview {
  margin:   38px calc( 50% - 560px );
  spacing:  38px;
}
