@theme "catppuccin-latte-custom"

* {
    bg-col:  #eeeeee;
    bg-col-light: #eeeeee;
    border-col: #eeeeee;
    selected-col: #eeeeee;
    blue: #409866;
    fg-col: #4c4f69;
    fg-col2: #44A26D;
    grey: #9ca0b0;
}